@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Noto+Serif+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@500&display=swap');

@font-face {
    font-family: 'EliceDigitalBaeum_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EliceDigitalBaeum_Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'EliceDigitalBaeum_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EliceDigitalBaeum_Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

html{
    scroll-behavior: smooth;
}

#detailpage-content{
    font-family: 'EliceDigitalBaeum_Regular';
    width: 100%;
    min-height: 100vh;
    text-align: center;
    color: gainsboro;
}

#gobackbtn{
    display: inline-block;
    height: 54px;
    width: 100%;
    text-align: left;
}

#gobackbtn-icon{
    display: inline-block;
    width: 54px;
    height: 54px;
    text-align: left;
    padding-left: 20px;
    vertical-align: middle;
    color: white;
}

#gobackbtn-icon:hover{
    cursor: pointer;
}

/* - 제목~정보 상자 */

#detailpage-info-box{
    width: 80%;
    min-height: 50vh;
    margin: auto;
    text-align: center;
    color: black;
    background-color: gainsboro;
    border-radius: 15px 15px 0 0 ;
    padding-bottom: 10px;
}

#detailpage-info-title{
    min-height: 5vh;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
}

#detailpage-info-anchor{
    text-align: center;
    width: 100%;
    height: 4vh;
    padding-top: 20px;
}

    .detailpage-info-anchor-a{
        display: inline-block;
        width: 15%;
        font-size: 18px;
        font-weight: bold;
        text-decoration: underline;
        color: black;
    }

        .detailpage-info-anchor-a:hover{
            cursor: pointer;
        }

        #detailpage-info-likebtn-icon{
            width: 5%;
            height: 30px;
            vertical-align: middle;
            position: relative;
            left: 20px;
        }
    
.detailpage-info-hr-left{
    display: inline-block;
    width: 33%;
    height: 1px;
    background-color: black;
    vertical-align: middle;
    margin-right: 15px;
    
}

.detailpage-info-hr-right{
    display: inline-block;
    width: 33%;
    height: 1px;
    background-color: black;
    vertical-align: middle;
    margin-left: 15px;
}

/* - 주요정보 */

#detailpage-info-majorinfo{
    width: 100%;
    min-height: 40vh;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: center;
}

.detailpage-box-title{
    text-align: center;
    font-size: 18px;
    height: 36px;
    margin: auto;
}

#detailpage-info-poster-img-wrap{
    display: inline-block;
    width: 200px;
    min-height: 280px;
    max-height: 360px;
    text-align: center;
    vertical-align: middle;
    margin: 0 20px 0 20px;
    
}

#detailpage-info-poster-img {
    width: 205px;
    min-height: 300px;
}

#detailpage-info-majorinfo-basic{
    display: inline-block;
    width: 64%;
    text-align: left;
    vertical-align: middle;
    margin: 10px 20px 10px 20px;
}

.detailpage-info-majorinfo-basic-content{
    font-size: 18px;
}

#detailpage-info-majorinfo-basic p{
    text-align: justify;
}

#detailpage-info-majorinfo-storyline{
    font-size: 18px;
    margin-top: 10px;
}

    #detailpage-info-majorinfo-bold-storyline{
        font-family: 'EliceDigitalBaeum_Bold';
    }

/* - 트레일러, 스틸컷 */

#detailpage-img-box{
    width: 80%;
    margin: auto;
    text-align: center;
    align-content: center;
    vertical-align: middle;
    color: black;
    background-color: gainsboro;
    padding-top: 10px;
    padding-bottom: 10px;
}

#detailpage-img-trailer{
    height: auto;
    width: 100%;
    text-align: center;
    vertical-align: center;
}

.detailpage-img-trailer ul{
    padding-left: 0px;
}


.detailpage-img-table-wrap{
    width: 80%;
    text-align: center;
    align-content: center;
    vertical-align: middle;
    margin: auto;
}

.detailpage-img-table{
    width: 100%;
    text-align: center;
    margin: auto;
}

.detailpage-img-table ul{
    padding-left: 0px;
}

.detailpage-img-trailer-td{
    margin: 5px;
    display: inline-block;
}

.detailpage-img-trailer-td img{
    width: 190px;
    height: 120px;
    background-size: cover;
}

#detailpage-img-stillcut{
    height: auto;
    width: 100%;
    vertical-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.detailpage-img-stillcut-td{
    margin: 5px;
    display: inline-block;
}

.detailpage-img-stillcut-td img{
    width: 190px;
    height: 120px;
    background-size: cover;
}

    .detailpage-img-stillcut-td:hover{
        cursor: pointer;
    }

/* - 평정/리뷰 */

#detailpage-review-box{
    width: 80%;
    height: 450px;
    margin: auto;
    text-align: center;
    align-content: center;
    vertical-align: middle;
    color: black;
    background-color: gainsboro;
    border-radius: 0 0 15px 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#detailpage-reviews-review-table-wrap{
    width: 90%;
    height: 280px;
    text-align: center;
    align-content: center;
    vertical-align: middle;
    margin: auto;
    padding-top: 20px;
}

#detailpage-reviews-review-table{
    width: 80%;
    text-align: justify;
    margin: auto;
}

.detailpage-reviews-review{
    display: block;
    width: 96%;
    height: 60px;
    text-align: justify;
}

.detailpage-reviews-review-profile{
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}
    .detailpage-reviews-review-profile-name{
        display: inline-block;
        width: 40%;
        vertical-align: top;
    }

    .detailpage-reviews-review-content-rating{
        display: inline-block;
        vertical-align: top;
    }

    .detailpage-reviews-review-profile:hover{
        cursor: pointer;
    }

.detailpage-reviews-review-profile-img{
    width: 60px;
    height: 60px;
}

.detailpage-reviews-review-content{
    display: inline-block;
    text-align: justify;
    width:65%;
    vertical-align: middle;
}

    .detailpage-reviews-review-content-text{
        width: 90%;
        height: 30px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

.detailpage-reviews-review-like {
    text-align: center;
    display: inline-block;
    width:5%;
    vertical-align: middle;
}

    .detailpage-reviews-review-content-like-count{
        font-size: 0.7em;
    }

#detailpage-reviews-pagecontroller{
    height: 100px;
    width: 60%;
    text-align: center;
    vertical-align: middle;
    margin: auto;
}

    #detailpage-reviews-go-review{
        margin-top: 20px;
        margin-right: 20px;
        width: 120px;
        height: 30px;
        vertical-align: middle;
        background-color: whitesmoke;
        border-radius: 5px;
        border-style: none;
        box-shadow: 1px 1px 3px;
    }

        #detailpage-reviews-go-review:hover{
            background-color: silver;
            cursor: pointer;
        }

    #detailpage-reviews-go-write-review{
        margin-top: 20px;
        margin-left: 20px;
        width: 120px;
        height: 30px;
        vertical-align: middle;
        background-color: whitesmoke;
        border-radius: 5px;
        border-style: none;
        box-shadow: 1px 1px 3px;
    }

        #detailpage-reviews-go-write-review:hover{
            background-color: silver;
            cursor: pointer;
        }

.detailpage-blank{
    height: 50px;
}