
#detailpage-content{
    width: 100%;
    text-align: center;
}

#gobackbtn{
    display: inline-block;
    height: 54px;
    width: 100%;
    text-align: left;
}

#gobackbtn-icon{
    display: inline-block;
    width: 54px;
    height: 54px;
    text-align: left;
    padding-left: 20px;
    vertical-align: middle;
    color: white;
}

#detailpage-info-box{
    width: 80%;
    margin: auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
}

#detailpage-info-title{
    font-size: 30px;
    text-align: left;
    padding-left: 20px;
}

#detailpage-info-anchor{
    text-align: center;
    width: 100%;
}

.detailpage-info-anchor-a{
    display: inline-block;
    width: 15%;
    text-decoration: underline;
    color: black;
}

#detailpage-img-box{
    display: table;
    text-align: center;
    width: 80%;
    margin: auto;
    align-content: center;
    vertical-align: middle;
    background-color: rgba(255, 202, 202, 0.5);
}

#detailpage-reviews-box{
    display: table;
    text-align: center;
    width: 80%;
    margin: auto;
    align-content: center;
    vertical-align: middle;
    background-color: rgba(196, 252, 196, 0.5);
}

.detailpage-reviews-review{
    display: table-cell;
    width: 45%;
    height: 60px;
    text-align: center;
}

.detailpage-reviews-review-profile{
    display: inline-block;
    width: 25%;
    vertical-align: middle;
}

.detailpage-reviews-review-content{
    display: inline-block;
    width: 75%;
}