/* Header */
.header-container {
    height: 90px;
    width: 100%;
    flex-direction: column;
    background-color: rgba(0,0,0,0.2);
    vertical-align: middle;
    color: white;
  }
  
  /* Header left*/
  .header-content-left {
    display: table-cell;
    width: 25%;
    align-content: center;
    vertical-align: middle;
    height: 100%
  }
  
  .header-left-logo {
    display: table-cell;
    vertical-align: middle;
    width: 250px;
    height: 100%
  }

  .header-left-logo h1{
    margin: 0;
    padding-top: 20px;
    color: white;
}
  
  .header-left-top {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100px;
    margin: auto;
    margin-left: 5px;
  }

  .header-left-top h4 {
    text-align: center;
    color: white;
    vertical-align: middle;
    text-decoration: none;
    margin: 0;
    padding-top: 20px;
  }
  
  .header-left-genre {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 100px;
    margin: auto;
    margin-right: 5px;
  }
  
  .header-left-genre h4 {
    text-align: center;
    color: white;
    vertical-align: middle;
    text-decoration: none;
    margin: 0;
    padding-top: 20px;
  }
  
  /* Header Right*/
  .header-content-right {
    display: table-cell;
    vertical-align: middle;
    width: 70%;
    text-align: right;
    height: 100%
  }
  
  .header-right-search-btn{
    
    width: 30%;
  }
  
  .search-btn-text {
    display: inline;
    width: 300px;
    height: 25px;
    margin-right: 15px;
  }
  
  .search-btn-icon {
    display: inline;
    height: 24px;
    width: 24px;
    padding-top: 15px;
  }
  
  .header-right-myshelf {
    display: inline;
    width: 20%;
    margin: 15px;
  }
  
  .header-right-setting{
    display: inline;
    width: 20%;
    margin: 0 15px 0 0;
    padding-top: 20px;
  }
  
  .header-right-login-btn {
    display: inline;
    width: 20%;
    margin: 0 15px 0 0;
    padding-top: 20px;
    text-decoration: none;
    }

    .header-right-login-btn a{
      color: white;
    }