@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Noto+Serif+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap');

@font-face {
  font-family: 'EliceDigitalBaeum_Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EliceDigitalBaeum_Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
/* Header */

html{
  min-width: 1200px;
  min-height: 900px;
}

.header-container {
  font-family: 'IM_Hyemin-Bold';
  height: 10vh;
  width: 100%;
  min-height: 81px;
  vertical-align: middle;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
}

.header-container-contents{
  padding-left: 3vw;
  padding-right: 3vw;
}

.header-content-title{
  font-family: 'Parisienne', cursive;
  display: inline-block;
  width: 50%;
  text-align: left;
  vertical-align: middle;
}

.header-content-title-logo{
  display: inline-block;
  width: 30%;
  min-width: 90px;
  vertical-align: middle;
  padding-left: 20px;
}

.header-content-title-logo-h1{
  font-size: 36px;
}

  .header-content-title-logo-h1:hover{
    cursor: pointer;
  }

.header-content-title-menu{
  margin-left: 5%;
  display: inline-flex;
  text-align: center;
  vertical-align: middle;
}

.header-content-title-top{
  margin-right: 5%;
  width: 10%;
  min-width: 63px;
}

  .header-content-title-top:hover{
    cursor: pointer;
  }

.header-content-title-genre{
  margin-right: 5%;
  width: 10%;
  min-width: 63px;
}

  .header-content-title-genre:hover{
    cursor: pointer;
  }

.header-content-title-item{
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  vertical-align: middle;
}

.header-content-userbtn{
  font-family: 'twayair';
  display: inline-block;
  width: 50%;
  text-align: right;
  vertical-align: middle;
}

.header-content-userbtn-search-btn{
  display: inline-block;
  width: 50%;
  text-align: right;
  vertical-align: middle;
}

.header-content-userbtn-search-btn-text{
  width: 60%;
  height: 28px;
  margin-right: 3%;
  border: 0;
  border-radius: 15px;
  padding-left: 12px;
  text-align: justify;
  vertical-align: middle;
  background-color: rgba(255, 255, 255, 0.7);
}

.header-content-userbtn-search-btn-icon{
  min-width: 20px;
  min-height: 20px;
  vertical-align: middle;
}

  .header-content-userbtn-search-btn-icon:hover{
    cursor: pointer;
  }

.header-content-userbtn-myshelf{
  display: inline-block;
  width: 10%;
  vertical-align: middle;
}

.header-content-userbtn-myshelf-icon{
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

  .header-content-userbtn-myshelf-icon:hover{
    cursor: pointer;
  }

.header-content-userbtn-setting{
  display: inline-block;
  width: 10%;
  margin-right: 5%;
  vertical-align: middle;
}

.header-content-userbtn-setting-icon{
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

  .header-content-userbtn-setting-icon:hover{
    cursor: pointer;
  }

.header-content-userbtn-login{
  font-family: 'Roboto Mono', monospace;
  display: inline-block;
  width: 10%;
  vertical-align: middle;
  padding-right: 5%;
}

.header-content-userbtn-login-btn{
  color: white;
  text-decoration: none;
}

  .header-content-userbtn-login-btn:hover {
    cursor: pointer;
  }