@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Noto+Serif+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@500&display=swap');

@font-face {
    font-family: 'EliceDigitalBaeum_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EliceDigitalBaeum_Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

html, body{
    width: 100%;
    height: 100%;
    align-content: center;
}

#listpage{
    background : url(images/background/cameraandbooks.jpg);
}

.listpage-content{
    font-family: 'EliceDigitalBaeum_Regular';
    width: 100%;
    min-height: 82.8vh;
    text-align: center;
}

.listpage-content-search{
    width: 100%;
    height: 15vh;
    margin: auto;
    text-align: center;
    vertical-align: middle;
}

.listpage-content-search-btnwrap{
    width: 60%;
    padding-top: 5vh;
    text-align: center;
    vertical-align: middle;
    margin: auto;
}

#listpage-search-text{
    width: 180px;
    height: 30px;
    font-size: 14px;
    border-style: none;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 10px;
    text-align: justify;
    vertical-align: middle;
    background-color: rgba(211, 211, 211, 0.8);
    font-family: 'EliceDigitalBaeum_Regular';
}

    #listpage-search-text:hover{
        cursor: text;
    }

.listpage-search-btn-icon{
    width: 24px;
    height: 24px;
    text-align: center;
    vertical-align: middle;
}

    .listpage-search-btn-icon:hover{
        cursor: pointer;
    }

.listpage-content-result{
    width: 80%;
    display: table;
    margin: auto;
    border-radius: 15px;
}

.listpage-content-result-item{
    display: inline-block;
    width: 220px;
    height: 360px;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 15px;
    object-fit: contain;
}

    .listpage-content-result-item:hover{
        cursor: pointer;
    }

.listpage-content-result-item-pic{
    width: 205px;
    height: 290px;
    margin: auto;
    object-fit: contain;
}

.listpage-content-result-item-info{
    width: 200px;
    height: 50px;
    text-align: center;
    margin: auto;
    color: gainsboro;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: gainsboro;
}
