@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Noto+Serif+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@500&display=swap');

@font-face {
    font-family: 'IM_Hyemin-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IM_Hyemin-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body{
    width: 100%;
    height: 100%;
    align-content: center;
}

body{
    background : url(images/background/cameraandbooks.jpg);
    background-color: rgba(0, 0, 0, 0.55);
}

.login-content {
    font-family: 'IM_Hyemin-Regular';
    width: 100%;
    height: 100%;
    align-content: center;
}

/* header : title*/
.login-content-title {
    height: 90px;
    width: 100%;
    flex-direction: column;
    vertical-align: middle;
    text-align: left;
    font-family: 'Parisienne', cursive;
}

#login-content-title-logo{
    display: inline-block;
    padding-left: 20px;
    font-size: 36px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

/* content : login, btn, remember*/
.login-content-body {
    text-align: center;
    vertical-align: middle;
    align-content: center;
}

.login-content-body-main {
    width: 480px;
    height: 600px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    vertical-align: middle;
    align-content: center;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.8);
}

.login-content-body-main-title {
    margin: auto;
    height: 12%;
    padding-top: 10%;
    vertical-align: middle;
}

.login-content-body-main-title-text {
    font-weight: bold;
    font-size: 30px;
    vertical-align: middle;
}

.login-content-body-main-info {
    width: 360px;
    height: 16%;
    align-content: center;
    vertical-align: middle;
    margin: auto;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-top: 8%;
}

.login-content-body-main-info-id {
    vertical-align: middle;
}

.login-content-body-main-info-pw {
    vertical-align: middle;
}

.login-content-body-main-info input{
    width: 300px;
    height: 30px;
    margin: 3px;
    border-radius: 15px;
    padding-left: 10px;
}

.login-content-body-main-btn {
    height: 12%;
    margin-top: 3px;
    margin-bottom: 3px;
    vertical-align: middle;
}

.login-content-body-main-btn-remeberme {
    height: 42%;
    vertical-align: middle;
    text-align: left;
    align-content: left;
    margin: 1%;
}

.login-content-body-main-btn-remeberme-form {
    text-align: left;
    align-content: left;
    vertical-align: middle;
    display: inline;
}

.login-content-body-main-btn-login {
    height: 54%;
    text-align: center;
    vertical-align: middle;
    margin: 1%;
}

.login-content-body-main-btn-login button {
    text-align: center;
    vertical-align: middle;
    height: 36px;
    width: 240px;
    border-radius: 15px;
}

    .login-content-body-main-btn-login button:hover{
        cursor: pointer;
    }

.login-content-body-main-social{
    height: 25%;
    margin-top: 2%;
    margin-bottom: 3px;
}

.login-content-body-main-social div{
    font-weight: bold;
}

.login-content-body-main-social hr {
    width: 360px;
    border-style: dashed solid;
}

    .social-login-btn:hover{
        cursor: pointer;
    }

.login-content-body-main-signup {
    height: 12%;
    margin-top: 3px;
    margin-bottom: 3px;
}

.login-content-body-main-signup-btn {
    border-radius: 5px;
    border-color: black;
}

    .login-content-body-main-signup-btn:hover{
        cursor: pointer;
    }

.login-content-body-main-signup-btn a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}