@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Noto+Serif+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@500&display=swap');

@font-face {
    font-family: 'EliceDigitalBaeum_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EliceDigitalBaeum_Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

.mainpage{
    min-height: 100vh;
    align-content: center;
}

.main-content{
    min-height: 77vh;
    width: 100%;
    font-family: 'EliceDigitalBaeum_Regular';
}

.main-content-movie{
    width: 90%;
    margin: auto;
    text-align: center;
   
}

.main-content-movie-list{
    margin-top: 54px;
    padding: 10px;
    min-height: 50%;
    text-align: justify;
    border-radius: 15px;
    background-color: rgba(211, 211, 211, 0.8);
}

.main-content-list-name{
    width: 100%;
    font-size: 27px;
    vertical-align: middle;
    font-family: 'EliceDigitalBaeum_Regular';

}

.main-content-list-item-wrap{
    overflow-x: auto;
}
    .main-content-list-item-wrap::-webkit-scrollbar{
        height: 10px;
        background-color: rgba(211, 211, 211, 0);

    }
    .main-content-list-item-wrap::-webkit-scrollbar-track{
        background-color: rgba(211, 211, 211, 0);
    }
    .main-content-list-item-wrap::-webkit-scrollbar-thumb{
        background-color: whitesmoke;
        border-radius: 5px;
    }

.main-content-result-item{
    display: table-cell;
}

.main-content-result-item-pic{
    text-align: left;
    margin: 10px;
}

    .main-content-result-item-pic img{
        width: 160px;
        height: 220px;
        margin: auto;
        vertical-align: middle;
    }

.main-content-result-item-info{
    text-align: center;
    margin: 0 12px 0 12px;
}