@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Noto+Serif+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@500&display=swap');

@font-face {
    font-family: 'EliceDigitalBaeum_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EliceDigitalBaeum_Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

.mainpage{
    min-height: 100vh;
    align-content: center;
}

.content {
    font-family: 'EliceDigitalBaeum_Regular';
}

.banner-content{
    height: 50vh;
    background-color: rgb(20, 20, 20);
}

.banner-content-result-item {
    display: grid;
    justify-content: start;
    align-items: end;
    height: 40vh;
    -webkit-box-pack: center;
    padding: 4rem;
    background-size: cover;
    box-shadow: 0 4px 30px 10px #000;
}

.banner-content-item-info {
    width: 60%;
}

.banner-content-item-title {
    font-weight: bold;
    color: white;
    font-size: 1.5em;
}

.banner-content-item-detail {
    color: rgba(255, 255, 255, 0.753);
    font-size: 0.8em;
}

.detail-bold {
    font-weight: bold;
    font-size: 0.9em;
}

.main-content{
    min-height: 77vh;
    width: 100%;
    position: relative;
}

.main-content-movie{
    width: 90%;
    margin: auto;
    text-align: center;
   
}

.main-content-movie-list{
    margin-top: 54px;
    padding: 10px;
    min-height: 50%;
    text-align: justify;
    border-radius: 15px;
    color: white;
}

.main-content-list-name{
    width: 100%;
    font-size: 27px;
    vertical-align: middle;
    font-family: 'EliceDigitalBaeum_Regular';

}

.main-content-list-item-wrap{
    overflow-x: auto;
    position: relative;
}
    .main-content-list-item-wrap::-webkit-scrollbar{
        height: 10px;
        background-color: rgba(211, 211, 211, 0);

    }
    .main-content-list-item-wrap::-webkit-scrollbar-track{
        background-color: rgba(211, 211, 211, 0);
    }
    .main-content-list-item-wrap::-webkit-scrollbar-thumb{
        background-color: whitesmoke;
        border-radius: 5px;
    }

    .main-content-list-item-wrap button{
        margin-top: 10px;
        width: 80px;
        height: 220px;
        border: none;
        color: white;
        position: absolute;
        right: 0px;
        background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.5));
    }

    .main-content-list-item-wrap button:first-child{
        left: 0px;
        background: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.5));
    }

.main-content-result-item{
    display: table-cell;
}

.main-content-result-item-pic{
    text-align: left;
    margin: 10px;
}

    .main-content-result-item-pic img{
        width: 160px;
        height: 220px;
        margin: auto;
        vertical-align: middle;
    }

.main-content-result-item-info{
    text-align: center;
    margin: 0 12px 0 12px;
}