@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Noto+Serif+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@500&display=swap');

@font-face {
    font-family: 'EliceDigitalBaeum_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EliceDigitalBaeum_Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}


.reviewpage{
    min-height: 100vh;
}

#reviewpage-content{
    font-family: 'EliceDigitalBaeum_Regular';
    width: 100%;
    min-height: 84vh;
    text-align: center;
}

#gobackbtn{
    display: inline-block;
    height: 54px;
    width: 100%;
    text-align: left;
}

#gobackbtn-icon{
    display: inline-block;
    width: 54px;
    height: 54px;
    text-align: left;
    padding-left: 20px;
    vertical-align: middle;
    color: white;
}

#reviewpage-wrap{
    width: 90%;
    text-align: center;
    margin: auto;
}

#reviewpage-moviereview{
    width: 100%;
}

#reviewpage-moviereview-movieinfo{
    display: inline-block;
    width: 80%;
    vertical-align: top;
    margin-left: 20px;
    padding: 0 1% 0 1%;
}

#reviewpage-moviereview-movieinfo-header{
    height: 40%;
    text-align: center;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#reviewpage-moviereview-movieinfo-detail{
    text-align: left;
    width: 80%;
    display: flex;
    align-items: center;
}

    #reviewpage-moviereview-movieinfo-header-title{
        font-size: 30px;
        font-family: 'EliceDigitalBaeum_Bold';
        margin-right: 25px;
    }
    
    #reviewpage-moviereview-rate{
        height: 40px;
    }

        #reviewpage-moviereview-rate span{
            vertical-align: middle;
            font-size: 22px;
        }

    .moview-content-btn-div{
        display: flex;
        justify-content: space-between;
        float: right;
    }

        .moviereview-content-btn{
            width: 10%;
            text-align: center;
            margin-right: 20px;
        }

        .moviereview-content-btn-icon{
            width: 24px;
            height: 24px;
        }

            .moviereview-content-btn-icon:hover{
                cursor: pointer;
            }

#reviewpage-hr{
    width: 90%;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 60%;
}

/*리뷰(댓글)*/

#reviewpage-comment-wrap{
    width: 80%;
    text-align: center;
    margin: auto;
}

#reviewpage-comment-nothing{
    font-size: 20px;
    font-family: 'EliceDigitalBaeum_Regular';
}

.reviewpage-comment{
    height: 60px;
    vertical-align: top;
    background-color: rgba(230, 230, 230, 0.8);
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.reviewpage-comment-user{
    display: inline-block;
    height: 60px;
    width: 35%;
    vertical-align: middle;
    text-align: center;
}

.reviewpage-comment-title{
    display: inline-block;
    height: 60px;
    width: 30%;
    vertical-align: middle;
    text-align: justify;
    line-height: 60px;
}

.reviewpage-comment-content{
    display: inline-block;
    height: 60px;
    width: 70%;
    vertical-align: middle;
    text-align: justify;
    line-height: 60px;
}

.reviewpage-comment-content-btn{
    display: inline-block;
    width: 5%;
    text-align: center;
}

.reviewpage-comment-content-btn-icon{
    width: 20px;
    height: 20px;
    visibility: hidden;
}

.movie-write-review-link{
    color: inherit;
}