@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Noto+Serif+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@500&display=swap');

@font-face {
    font-family: 'EliceDigitalBaeum_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EliceDigitalBaeum_Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}


html{
    width: 100%;
    height: 100%;
    align-content: center;
}

.signup-content {
    font-family: 'EliceDigitalBaeum_Regular';
    width: 100%;
    height: 100%;
    align-content: center;
}

/* header : title*/
.signup-content-title {
    height: 90px;
    width: 100%;
    flex-direction: column;
    vertical-align: middle;
    text-align: left;
    font-family: 'Parisienne', cursive;
}

#signup-content-title-logo{
    display: inline-block;
    padding-left: 20px;
    font-size: 36px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

/* content : login, btn, remember*/
.signup-content-body {
    text-align: center;
    vertical-align: middle;
    align-content: center;
}

.signup-content-body-main {
    width: 480px;
    height: 700px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    vertical-align: middle;
    align-content: center;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.8);
}

.signup-content-body-main-title {
    margin: auto;
    height: 12%;
    padding-top: 10%;
    vertical-align: middle;
}

.signup-content-body-main-title-text {
    font-weight: bold;
    font-size: 30px;
    vertical-align: middle;

}

.signup-content-body-main-info {
    width: 360px;
    height: 30%;
    align-content: center;
    vertical-align: middle;
    margin: auto;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-top: 8%;
}

.signup-content-body-main-info-id {
    vertical-align: middle;
}

.signup-content-body-main-info-pw {
    vertical-align: middle;
}

.signup-content-body-main-info input{
    width: 300px;
    height: 30px;
    margin: 3px;
    border-radius: 15px;
    padding-left: 10px;
}

.signup-content-body-main-btn {
    height: 8%;
    margin-top: 3px;
    margin-bottom: 3px;
    vertical-align: middle;
}

.signup-content-body-main-btn-signup {
    height: 54%;
    text-align: center;
    vertical-align: middle;
    margin: 1%;
}

.signup-content-body-main-btn-signup button {
    text-align: center;
    vertical-align: middle;
    height: 36px;
    width: 240px;
    border-radius: 15px;
}

    .signup-content-body-main-btn-signup button:hover {
        cursor: pointer;
    }

.signup-content-body-main-social{
    height: 22%;
    margin-top: 2%;
    margin-bottom: 3px;
}

.signup-content-body-main-social div{
    font-weight: bold;
}

.signup-content-body-main-social hr {
    width: 360px;
    border-style: dashed solid;
}

    .social-signup-btn:hover{
        cursor: pointer;
    }

.signup-content-body-main-login {
    height: 10%;
    margin-top: 3px;
    margin-bottom: 3px;
}

.signup-content-body-main-login-btn {
    border-radius: 5px;
    border-color: black;
}

    .signup-content-body-main-login-btn:hover{
        cursor: pointer;
    }

.signup-content-body-main-login-btn a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}