@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Noto+Serif+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@500&display=swap');


@font-face {
    font-family: 'EliceDigitalBaeum_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EliceDigitalBaeum_Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

.userinfopage{
    font-family: 'EliceDigitalBaeum_Regular';
    color: white;
    width: 100%;
    height: 100vh;
}

.userinfo-content{
    min-height: 82.8vh;
}

.userinfo-content-info{
    min-height: 12vh;
    width: 60%;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    padding-top: 5vh;
}

    .userinfo-content-info-profile{
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        width: 24%;
        height: 50%;
    }

        .userinfo-content-info-profile-img{
            min-height: 48px;
            min-width: 48px;
        }

    .userinfo-content-info-sub{
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        width: 66%;
        padding-top: 20px;
        font-size: 18px;
        font-family: 'EliceDigitalBaeum_Regular';
    }

        .userinfo-content-info-sub:hover{
            cursor: default;
        }

    .userinfo-content-info-sub table{
        width: 80%;
        margin: auto;
        align-items: center;
        text-align: justify;
    }

        .userinfo-content-info-sub table a:hover{
            cursor: pointer;
        }

.userinfo-content-shelf{
    text-align: center;
}
    .userinfo-content-shelf-category{
        width: 50%;
        min-height: 5vh;
        margin: auto;
        align-items: center;
        vertical-align: middle;
    }

        .userinfo-content-shelf-category-sub{
            display: inline-block;
            width: 48%;
            margin: auto;
            text-align: center;
            vertical-align: middle;
            font-size: 18px;
        }
        
        .userinfo-content-shelf-category-sub:hover{
            text-decoration: underline;
            cursor: pointer;
        }

        .userinfo-content-shelf-contents{
            width: 80%;
            margin: auto;
            border-radius: 15px;
            padding: 10px;
            background-color: rgba(211, 211, 211, 0.8);
            
            
        }

        .userinfo-content-shelf-contents table{
            border-spacing: 20px 0;
            border-collapse: separate;
        }
            .shelf-contents-object{
                width: 120px;
                height: 160px;
                background-color: rgba(182, 182, 182, 0.5);
                border-style: inset ;
                border-width: 1px;
            }
                .shelf-contents-object-add{
                    width: 30px;
                    height: 30px;
                }

                #userinfo-content-shelf-example{
                    width: 120px;
                    height: 160px;
                    vertical-align: middle;
                }

                .shelf-contents-object:hover{
                    cursor: pointer;
                }