@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Noto+Serif+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@500&display=swap');


@font-face {
    font-family: 'EliceDigitalBaeum_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EliceDigitalBaeum_Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

.userinfopage{
    font-family: 'EliceDigitalBaeum_Regular';
    color: white;
    width: 100%;
    height: 100vh;
}

.userinfo-content{
    min-height: 82.8vh;
}

.userinfo-content-info{
    min-height: 11vh;
    width: 60%;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    padding-top: 4vh;
}

    .userinfo-content-info-profile{
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        width: 24%;
        height: 50%;
    }

        .userinfo-content-info-profile-img{
            min-height: 48px;
            min-width: 48px;
        }

    .userinfo-content-info-sub{
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        width: 66%;
        padding-top: 20px;
        font-size: 18px;
        font-family: 'EliceDigitalBaeum_Regular';
    }

        .userinfo-content-info-sub:hover{
            cursor: default;
        }

    .userinfo-content-info-sub table{
        width: 80%;
        margin: auto;
        align-items: center;
        text-align: justify;
    }

        .userinfo-content-info-sub table a:hover{
            cursor: pointer;
        }

.userinfo-content-shelf{
    text-align: center;
    width: 90%;
    margin: auto;
}

.userinfo-content-shelf-list{
    min-height: 280px;
    padding: 10px;
    text-align: justify;
    border-radius: 15px;
    color: #080808;
    font-weight: bolder;
    background-color: rgba(211, 211, 211, 0.8);
    margin: 10px 0 10px 0;
}

    .userinfo-content-shelf-list-name{
        width: 96%;
        font-size: 27px;
        vertical-align: middle;
        font-family: 'EliceDigitalBaeum_Regular';
        margin: auto;
    }

    .userinfo-content-shelf-list-item-wrap{
        text-align: left;
        overflow-x: auto;
        position: relative;
        width: 96%;
        height: 80%;
        margin: auto;
    }
        .userinfo-content-shelf-list-item-wrap::-webkit-scrollbar{
            height: 10px;
            background-color: rgba(211, 211, 211, 0);

        }
        .userinfo-content-shelf-list-item-wrap::-webkit-scrollbar-track{
            background-color: rgba(211, 211, 211, 0);
        }
        .userinfo-content-shelf-list-item-wrap::-webkit-scrollbar-thumb{
            background-color: #bebebe;
            border-radius: 5px;
        }

    .userinfo-content-shelf-list-item{
        display: table-cell;
        vertical-align: top;
    }

        .userinfo-content-shelf-list-item-pic{
            text-align: left;
            margin: 10px;
        }

        .userinfo-content-shelf-list-item-pic img{
            width: 120px;
            height: 180px;
            margin: auto;
            vertical-align: middle;
        }

            .shelf-contents-object-icon{
                text-align: center;
                height: 100%;
                width: 40px;
            }
        
        .userinfo-content-shelf-list-item-info{
            text-align: center;
            margin: 0 12px 0 12px;
            cursor: pointer;
            width: 120px;
            height: 24px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space:nowrap;

        }