@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Noto+Serif+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@500&display=swap');

@font-face {
    font-family: 'EliceDigitalBaeum_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EliceDigitalBaeum_Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

.writereviewpage{
    min-height: 100vh;
}

#writereview-content{
    font-family: 'EliceDigitalBaeum_Regular';
    width: 100%;
    min-height: 82.8vh;
    text-align: center;
}

#gobackbtn{
    display: inline-block;
    height: 54px;
    width: 100%;
    text-align: left;
}

#gobackbtn-icon{
    display: inline-block;
    width: 54px;
    height: 54px;
    text-align: left;
    padding-left: 20px;
    vertical-align: middle;
    color: white;
}

.writereview-movieinfo-box{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

    .writereview-movieinfo-info{
        text-align: left;
        width: 64%;
    }
        .writereview-movieinfo-info h2{
            font-size: 30px;
            color: white;
        }

    .writereview-movieinfo-div{
        text-align: center;
        width: 90%;
    }

    .writereview-movieinfo-detail-div{
        text-align: center;
        margin-left: auto;
    }

    .writereview-movieinfo-detail{
        width: 76%;
        height: 100%;
        margin: auto;
        border-radius: 15px;
        padding: 20px;
        background-color: rgba(211, 211, 211, 0.8);
        text-align: left;
    }

        .writereview-movieinfo-detail-title{
            font-size: 30px;
            min-height: 40px;
            display: inline-block;
            width:70%;
        }

            .writereview-movieinfo-detail-title #reviewTitle{
                display: inline-block;
                text-align: left;
                min-width: 150px;
                min-height: 30px;
                width: 80%;
                font-family: 'EliceDigitalBaeum_Bold';
                font-size: 20px;
                vertical-align: middle;
                background-color: transparent;
                border-style: solid;
                border-radius: 5px;
                border-width: 0 0 1px 0;
                position: relative;
                left: 10px;
            }

        .writereview-movieinfo-detail-id{
            display: inline-block;
            min-width: 100px;
            min-height: 40px;
            vertical-align: middle;
        
        }

        .writereview-movieinfo-detail-rate{
            display: inline-block;
            min-height: 40px;
            vertical-align: bottom;
            width: 30%;
        }

            .movieinfo-detail-rating{
                display: inline-block;
                min-width: 30px;
                vertical-align: middle;
                text-align: center;
            }

                
            .movieinfo-detail-rating .movieinfo-detail-rating-icon:hover{
                cursor: pointer;
            }

            .rate-fillstart{
                display: inline-block;
                min-width: 30px;
                vertical-align: middle;
                text-align: center;     
                color: gray;       
            }

                .movieinfo-detail-rating-icon{
                    vertical-align: middle;
                    text-align: center;
                    font-size: 24px;
                }

                .rate-fillstart-yellow {
                    color: gold;
                }

.writereview-moviereview-box{
    text-align: center;
    min-height: 30vh;
    width: 90%;
    margin: auto;
}

    .writereview-moviereview-text-wrap{
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

        .writereview-moviereview-text{
            font-family: 'EliceDigitalBaeum_Regular';
            font-size: 17px;
            text-align: justify;
            width: 76%;
            min-height: 24vh;
            border-radius: 15px;
            border: none;
            padding: 20px;
            background-color: rgba(211, 211, 211, 0.8);
        }

    .writereview-moviereview-btn-wrap{
        text-align: right;
        width: 76%;
        margin: auto;
    }

        .writereview-moviereview-btn{
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            border-radius: 5px;
            border-width: 1px;
            margin-left: 20px;
            min-width: 60px;
            min-height: 30px;
            font-size: 15px;
        }

            .writereview-moviereview-btn:hover{
                cursor: pointer;
            }